wandb/
tmp/
*debug*
debugs/
outputs/
samples/
dev_tests/
__pycache__/
ossutil_output/
.ossutil_checkpoint/
checkpoints/
trainer_output/

# Ignore all data by default
data/
# Re-include specific metadata under data/ (non raw data)
!data/modelnet40_cache_v1/
data/modelnet40_cache_v1/*
!data/modelnet40_cache_v1/train_missing.txt

viz_output/

*.ipynb
*.safetensors
*.ckpt
*.sh

**/.ipynb_checkpoints/

# Local virtual environments
.venv/

# Experiment logs and checkpoints
logs/
runs/

# Cluster / job outputs
*.err
*.out
